<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RedisServerFullPath" value="D:\Dev\GitHub\rediswinsvc\src\RedisWinSvc\packages\Redis-64.2.8.4\redis-server.exe" />
    <add key="RedisCLIFullPath" value="D:\Dev\GitHub\rediswinsvc\src\RedisWinSvc\packages\Redis-64.2.8.4\redis-cli.exe" />
    <add key="RedisServerPort" value="6379" />
    <add key="ConfigFullPath" value="D:\Dev\GitHub\rediswinsvc\src\RedisWinSvc\packages\Redis-64.2.8.4\redis.windows.conf" />
    <add key="WorkingDirectory" value="D:\Dev\GitHub\rediswinsvc\src\RedisWinSvc\packages\Redis-64.2.8.4\" />
  </appSettings>
</configuration>